.main {
  width: 100%;
  height: auto;
  background-color: #dbdbdb;
}
.bgvideodiv {
  width: 100%;
  height: 100vh;
  position: relative;
}
.bgvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.offers {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 50px;
}
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  border-radius: 10px;
  padding: 20px 5px;
  position: relative;
}
.offer::after {
  content: "";
  background-color: #2a2727;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .offer::after {
    display: none;
  }
}
